# Node
node_modules
npm-debug.log
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
build
dist

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage
.pytest_cache
__pycache__

# Misc
*.log
.cache
