apiVersion: v1
kind: ConfigMap
metadata:
  name: api-requester-config
  namespace: zerotesting
data:
  config.yaml: |
    targets:
      - name: firstClients
        service: zerotesting-lightpush-client
        name_template: "^client-0-(1[0-2]|[0-9])$"
        stateful_set: "client-0"

      - name: jswakuClients
        service: zerotesting-lightpush-client
        stateful_set: "client-0"
        port: 8080

      - name: nwakuClients
        service: zerotesting-lightpush-client
        stateful_set: "client-0"
        port: 8645

    endpoints:
      - name: set-debug
        headers: {"accept": "text/plain"}
        params: {"logLevel": "DEBUG"}
        url: "http://{node}/admin/v1/log-level/DEBUG"
        type: "POST"
        paged: False

      - name: lightpush-publish-static-sharding
        url: "http://{node}:{port}/lightpush/v3/message"
        headers: {"Content-Type": "application/json"}
        params: {"pubsubTopic": "/waku/2/rs/2/0",   "message": {"contentTopic": "/test/1/cross-network/proto", "payload": "W1EsIDIsIDNd"}}
        type: "POST"
        paged: False

      - name: lightpush-publish-auto-sharding
        url: "http://{node}:{port}/lightpush/v3/message"
        headers: {"Content-Type": "application/json"}
        params: { "pubsubTopic":"",   "message": {"contentTopic": "/test/1/cross-network/proto", "payload" : "W1EsIDIsIDNd"}}
        type: "POST"
        paged: False

      - name: waku-relay-publish
        url: "http://{node}:{port}/relay/v1/messages/%2Fwaku%2F2%2Frs%2F2%2F0"
        headers: {"Content-Type": "application/json"}
        params: {"payload": "38KKa5Ilr4Igjw", "contentTopic": "/my-app/1/dst/proto", "version": 1}
        type: "POST"
        paged: False

      - name: libp2p-dst-node-publish
        url: "http://{node}:8645/publish
        params: {"topic" : "%2Fwaku%2F2%2Frs%2F2%2F0", msgSize : "1024" }

    requests:
      - name: publish-request
        endpoint: lightpush-publish-static-sharding
        retries: 0
        retry_delay: 0.3

    actions:
      - name: publish-to-clients-random
        requests: ["publish-request"]
        targets: ["nwakuClients"]
        pod_start_index: 0
        pod_count: 91
        order: ascending
        loop_order: foreach_request_target_each_pod

